{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div class="bandeau-section">
    <div class="title">
        <h2>Connexion</h2>
    </div>
    <div class="breadcrumb">
        <span> accueil / connexion</span>
    </div>
    </div>
    <div class="form-section">
        <div class="form">
            <div class="form-title">
                <h2>Connexion</h2>
                <p>Déjà client ?</p>
                <p>Connectez-vous pour gérer votre compte </p>
            </div>
            <form action="{{path('security_login')}}" method="post">
                <div class="mail">
                    <input placeholder="Email" type="text" required name="_username">
                </div>

                <div class="password">
                    <input placeholder="Mot de passe" type="password" required name="_password">
                </div>

                <div class="btn-submit">
                    <input type="submit" value="Connexion">
                </div>
                <div class="not-register">
                    <span>Pas encore enregistrer ?</span>
                    <p><a href="{{ path('security_registration') }}">Inscrivez-vous maintenant !</a>  Enregistrez-vous en moins d'une minute et accédez dès à présent à notre bibliothèque !</p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}