.searchApi{
    padding: 2rem;
}

h2, h4 {
    margin: 0;
    background-color: #fff;
    border-left: solid 0.5rem #126B65;
    text-align: start;
}

.search {
    display: flex;
    align-items: start;
}

.search input {
    width: 100%;
    height: 29px;
    border-radius: 0.3rem;
}

.search img {

    cursor: pointer;
}

.input-search {
    align-self: center;
    flex: 1;
}

.btn-search {
    width: 48px;
    height: 48px;
    align-self: start;

}
.title{
    padding: 1rem;
}
#resultSearch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    display: none;

}
td, th{
    border: solid 1px #ccc;
    padding: 1rem;
}

/*loader*/
*, html {
    margin: 0;
    padding: 0;
}
#error, #success, #notFound{
    display: none;
}
#error, #notFound{
    background-color: red;
    color: #FFFFFF;
    padding: 0.5rem;

}
#success{
    background-color: green;
    color: #FFFFFF;
    padding: 0.5rem;

}


svg {
    display: none;
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color:#126B65;
}