.cards-section {
    width: 100%;
    max-width: 100%;
    font-size: .7rem;
    background-color: #e9ecef;



}

.section {
    width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-section {
    background: #fff;
    color: #000;
    height: 35%;
    padding: .2rem;
}

.info-section h3{

    margin-bottom: 0;
}

.info-section a{
    color: #000;
    text-decoration: none;
    box-shadow: -2.5px 2px 2px #20C7BC;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: solid 1px #20C7BC;
}

.info-section a:hover{
    background-color: #20C7BC;
}

.info-section p{
    margin-top: 0;
}

.card {
    width: 15rem;
    text-align: center;
    background-color: #fff;
    border: solid 1px #ccc;
    margin-top: 2rem;
    border-radius: .2rem;
    height: 22rem;

}

.card img{
    width: 163px;
    height: 218px;
    border: solid 1px #ccc;


}

.pagination{
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    justify-content: center;
    padding: 2rem;
}

.pagination li {
    padding: 0.5rem;
    background-color: #20C7BC;
    text-decoration: none;
    margin-right: 1rem;
    border-radius: .2rem;
    border: solid .1rem #ccc;
}
.pagination li a {
    text-decoration: none;
    color: #000;
}

.active{
    background-color: #fff !important;
}