body {
  background-color: #e9ecef;
}
.cart-container {
  width: 71.25rem;
  max-width: 71.25rem;
  margin: 0 auto;
  text-align: center;
  color: #051622;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cart img {
  width: 3rem;
}
.card-action {
  display: flex;
  justify-content: space-around;
}

.card-action img {
  width: 1.5rem;
}

.cart-delete {
  background: linear-gradient(#ba1d1a, #6e110f);
  padding: 0.5rem;
  border-radius: 0.3rem;
  
}

.cart-delete:hover {
  background: linear-gradient(#6e110f, #ba1d1a);
}

.cart-delete a {
  color: #fff;
  text-decoration: none;
}
.cart-plus,
.cart-less {
  background: linear-gradient(#10476e, #051622);
  padding: 0.3rem;
  border-radius: 0.3rem;
  display: flex;
  height: 1.8rem;
  width: 5rem;
  justify-content: space-around;
}
.cart-plus:hover,
.cart-less:hover {
  background: linear-gradient(#051622, #10476e);
  border-radius: 0.3rem;
}
.cart tr {
  background-color: #ffffff;
}
.cart th {
  background-color: #20c7bc;
  color: #fff;
}
.cart tr th,
.cart tr td {
  padding: 0.3rem;
 
}
