{% extends './base.html.twig' %}

{% block title %}Accueil Digital Library{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}

    <div class="cover">
        <div class="cover-span">
            <p>Durant cet pandémie l'accès à la culture s'est compliqué. En effet durant cette période difficile même si les bibliothèques restent ouvertes, l'anxiété et les restrictions nous poussent à limiter nos déplacements.

                Pour permettre un accès en toute sécurité à la littérature, la BEL click & collect' a décidé de mettre en place un système qui va permettre aux bibliophiles d'avoir un accès, depuis leur domicile, aux ouvrages de la bibliothèque de leur secteur.</p>

            <h3>découvrez nos livres</h3>
            <a href="{{ path('library') }}">En savoir plus sur les livres</a>
        </div>
    </div>
<div class="articles">
    <div class="msg_intro">
        <article>
        <h2>La bibliothèque est ouverte du mardi au samedi</h2>
        <p>La bibliothèque est ouverte aux horaires habituels et ferme au plus tard à 18h30 pour tenir compte du couvre-feu à 19h.
            La bibliothèque est ouverte pour permettre au public d’emprunter, de rendre des documents et de s’inscrire ou se réinscrire.
            La quarantaine des documents en retour est maintenue. Les places de travail et les postes informatiques/Internet sont accessibles.
            Depuis le 15 février, la pratique d'activitées culturelles est possible en bibliothèque. Cette faculté doit néanmoins s’entendre dans le respect des six personnes par groupe.
            Le port du masque est rendu obligatoire lors de la pratique d’activités artistiques</p>

            <a href="#">Voir les horaires d'ouvertures</a>
    </article>
    </div>

 {#   <article>
        <h3>Atelier d'écriture de Haïkus </h3>
        <p>En cette période de confinement, que diriez-vous d’écrire des haïkus ?
            Si vous ne savez pas ce que sont les haïkus, allez voir la vidéo tutoriel : tout y est expliqué !
            Et en plus, vous participerez à Clameur(s) en nous envoyant vos créations à l’adresse mail en lien dans la description de la vidéo youtube !
            Faites parler votre esprit créatif, l’équipe Clameur(s) attend avec impatience vos petits écrits !</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FFKuIW0pgpE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://bm.dijon.fr/">BM de Dijon</a>
    </article>#}
</div>
{% endblock %}